<!--
 * @Author: George Zhao
 * @Date: 2021-10-25 23:19:39
 * @LastEditors: George Zhao
 * @LastEditTime: 2021-10-26 23:54:21
 * @Description: 
 * @Email: 2018221138@email.szu.edu.cn
 * @Company: SZU
 * @Version: 1.0
-->
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#448D76" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#448D76" media="(prefers-color-scheme: dark)">
    <link rel="shortcut icon" href="assets/images/icon.svg" title="Favicon">
    <title>gPomodoro</title>
</head>

<body>
    <div id="interfaceviewbox">
        <div id="appTitlebox">
            <h1 id="appTitle">gPomodoro</h1>
        </div>
        <div id="timerviewbox">
            <div id="timerboxbluror"></div>
            <div id="timerbox">
                <span id="mintime">
                    00
                </span>
                <span id="divider">
                    :
                </span>
                <span id="secondtime">
                    00
                </span>
            </div>
        </div>
        <div id="buttonbar">
            <div id="startbutton" class="buttoninbar">
                <span>Start</span>
            </div>
        </div>
    </div>
</body>

</html>